<div class="container">
    <div class="row text-center">
        <h2 class="text">Welcome to Happy food</h2>
    </div>
    </br>
    <div class="row">
        <h4>Hello: {{session.user.fname}}&nbsp;{{session.user.lname}}</h4>
        <h4>Your username is: {{session.user.email}}</h4>
    </div>
    </form>
</div>

{{>footer}}